<div>
    <table class="table table-striped">
      <thead>
          <th scope="col">Ações</th>
          <th scope="col">Nome</th>
          <th scope="col">Apelido</th>
          <th scope="col">Raça</th>
          <th scope="col">Especíe</th>
          <th scope="col">Nome do Dono</th>
          <th scope="col">Telefone do Dono</th>
      </thead>
      <tbody *ngIf="pets; else empty">
        <tr *ngFor="let pet of pets">
          <td scope="row">
            <button routerLink="update" [queryParams]="{ id: pet.id }" >
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td scope="row">{{ pet.name }}</td>
          <td scope="row">{{ pet.nickName }}</td>
          <td scope="row">{{ pet.breed }}</td>
          <td scope="row">{{ pet.species }}</td>
          <td scope="row">{{ pet.ownerName ? pet.ownerName : 'Dono deletado'}}</td>
          <td scope="row">{{ pet.ownerPhone ? (pet.ownerPhone | mask:'(00) 0 0000-0000') : 'Dono deletado'}}</td>
        </tr>
      </tbody>
    </table>  
    <button routerLink="create">
      Novo Pet
    </button>
  
  <ng-template #empty>
      <tr>
          <td class="text--center" colspan="7">Nenhum resultado encontrado!</td>
      </tr>
  </ng-template>