<div class="modal-header" style="text-align: center">
    <b>Informações de {{ _owner.name }}</b>
    <button type="button" class="close py-2" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><b>Nome:</b> {{ _owner.name }}</p>
    <p><b>E-mail:</b> {{ _owner.email }}</p>
    <p><b>Telefone:</b> {{ _owner.phone | mask:'(00) 0 0000-0000'}}</p>

    <p>Aqui viria a lista de pets que o dono possui, mas a rota está com problema e por uma questão de tempo deixarei apenas como observação a idéia dessa tela</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Fechar</button>
</div>