<div class="modal-header" style="text-align: center">
    <b>Informações de {{ _owner.name }}</b>
    <button type="button" class="close py-2" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><b>Nome:</b> {{ _owner.name }}</p>
    <p><b>E-mail:</b> {{ _owner.email }}</p>
    <p><b>Telefone:</b> {{ _owner.phone | mask:'(00) 0 0000-0000'}}</p>

    <table class="table table-striped">
        <thead>
            <th scope="col">
              <label>Nome</label>
            </th>
            <th scope="col">
              <label>Apelido</label>
            </th>
            <th scope="col">
              <label>Raça</label>
            </th>
            <th scope="col">
              <label>Espécie</label>
            </th>
        </thead>
        <tbody *ngIf="pets; else empty">
          <tr *ngFor="let pet of petList">
            <td scope="row">{{ pet.name }}</td>
            <td scope="row">{{ pet.nickName }}</td>
            <td scope="row">{{ pet.breed }}</td>
            <td scope="row">{{ pet.species }}</td>
          </tr>
        </tbody>
      </table>  
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Fechar</button>
</div>

<ng-template #empty>
    <tr>
        <td class="text--center" colspan="7">Nenhum pet encontrado!</td>
    </tr>
</ng-template>