<div>
    <form #formPet="ngForm" autocomplete="off">

        <app-name [pet]="pet"></app-name>

        <app-nickname [pet]="pet"></app-nickname>

        <app-breed [pet]="pet"></app-breed>

        <app-species [pet]="pet"></app-species>

        <app-owner [pet]="pet"></app-owner>
        
        <div class="">
            <div class="float-left">
                <button (click)="delete()" id="btn-delete" class="btn btn-outline-primary">
                    Deletar &nbsp; <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="float-right">
                <button [disabled]="!pet.name || !pet.nickName || !pet.breed || !pet.species || !pet.ownerId"
                        id="btn-cadastrar" (click)="send()"
                        class="btn btn-outline-primary">
                    Cadastrar &nbsp; <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>