<div>
    <form #formOwner="ngForm" (submit)="send()" autocomplete="off">
        <app-name [owner]="owner" required></app-name>

        <app-email [owner]="owner" [required]="true"></app-email>

        <app-phone [owner]="owner"></app-phone>
        <div class="">
            <div class="float-right">
                <button [disabled]="!owner.name || !owner.email || !owner.phone"
                        id="btn-cadastrar"
                        class="btn btn-outline-primary">
                    Atualizar &nbsp; <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>