<div class="modal-header" style="text-align: center">
    <b>Informações de {{ _owner.name }}</b>
    <button type="button" class="close py-2" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="" for="name">Nome: {{ _owner.name }}</label>
    </div>
    <div class="form-group">
        <label class="" for="name">E-mail: {{ _owner.email }}</label>
    </div>
    <div class="form-group">
        <label class="" for="name">Telefone: {{ _owner.phone }}</label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fechar</button>
</div>